$color-principal: #10172a;
$color-secundario: #8e9db2;
$color-terciario: #5eead3;
$color-cuaternario: #152a39;
$fuente-regular: Poppins-Regular;
$fuente-light: Poppins-Light;
$fuente-italic: Poppins-italic;
$fuente-medium: Poppins-Medium;
$fuente-semibold: Poppins-Semi;